.collectionContainer {
  max-width: 60em;
  min-width: 20em;
  margin: auto;
}

.collectionCard {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
  border: 2px solid grey;
  border-radius: 50px;
  padding: 50px;
}

.collectionCard {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
  border: 2px solid grey;
  border-radius: 50px;
  padding: 50px;
}

.collectionRecipeImg {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  width: 300px;
  border-radius: 10px;
}

.collectionRecipe {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  padding-left: 50px;
}

.collectionRecipeName {
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: Tahoma, Geneva, sans-serif;
}

.collectionRecipeDescription {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 15px;
  font-style: italic;
  color: black;
  font-family: Verdana, Helvetica, sans-serif;
}

.collectionText {
  text-align: center;
  margin: 50px;
  font-size: 20px;
  font-family: Futura, Arial, sans-serif;
}

.collectionSubscribe {
  color: black;
}

@media screen and (min-width: 600px) {
  .collectionRecipeName {
    font-size: 15px;
  }
  .collectionRecipeDescription {
    font-size: 12px;
  }
  .collectionText {
    font-size: 15px;
  }
}

@media screen and (min-width: 900px) {
  .collectionRecipeName {
    font-size: 18px;
  }
  .collectionRecipeDescription {
    font-size: 14px;
  }
  .collectionText {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .collectionRecipeName {
    font-size: 20px;
  }
  .collectionRecipeDescription {
    font-size: 15px;
  }
  .collectionText {
    font-size: 20px;
  }
}
