.error {
    font-size: 18px;
  }
  .container {
    max-width: 60rem;
    margin: 0px auto 50px auto;
  }
  .error h1 {
    font-size: 18px;
  }
  .error h1 {
    font-size: 30px;
  }
  .error p {
    font-size: 25px;
  }
  .error a {
    color: var(--color-decorated);
  }
  .imageContainer {
    min-height: 320px;
    margin-left: 0px;
  }
  .gap {
    height: 30px;
  }
  .image  {
    float: left;
    height: auto;
    max-width: 200%;
    margin-right: 30px;

  }