.allCategoryContainer {
  max-width: 35rem;
  min-width: 20em;
  text-align: center;
  margin: 50px auto;
}

.allCategoryDetail {
  margin-bottom: 30px;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;
}

.allCategoryCard {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 50px;
  border: 2px solid grey;
  border-radius: 100px;
  padding: 50px;
}

.allCategoryImg {
  width: 200px;
  border-radius: 50%;
}

.allCategoryName {
  margin-left: 50px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: Tahoma, Geneva, sans-serif;
}
