.contactContainer {
  max-width: 30em;
  min-width: 20em;
  margin: auto;
}

.contactTitle {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: Tahoma, Geneva, sans-serif;
}

.contactLabel {
  font-size: 15px;
  font-family: Verdana, Helvetica, sans-serif;
}

.contactForm {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  font-family: Verdana, Helvetica, sans-serif;
}

.submit {
  text-align: center;
}

.submitButton {
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px 25px;
  font-size: 15px;
  font-family: Futura, Arial, sans-serif;
}
